name: build container
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
env:
  tag: ghcr.io/${{ github.actor }}/${{ github.event.repository.name }}:latest
  name: ${{ github.event.repository.name }}:latest
  IMAGE_NAME: "${{ github.event.repository.name }}"
  DEFAULT_TAG: "latest"
jobs: 
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout action
      uses: actions/checkout@v6
    - name: build
      run: podman build -f Containerfile --disable-compression=false -t ${{ env.tag }} .
    - name: Rechunk Image
      run: sudo podman run --rm --privileged -v /var/lib/containers:/var/lib/containers --entrypoint /usr/libexec/bootc-base-imagectl "localhost/${IMAGE_NAME}:${DEFAULT_TAG}" rechunk --max-layers 67 "localhost/${IMAGE_NAME}:${DEFAULT_TAG}" "localhost/${IMAGE_NAME}:${DEFAULT_TAG}"
    - name: push
      run: podman push --creds=${{ github.actor }}:${{ secrets.GITHUB_TOKEN }} ${{ env.tag }}

